.clear {
  clear: both;
}
html,
body {
  background: #fff;
  margin: 100px auto;
  padding: 0;
  width: 500px;
  height: 100%;
}
body {
  line-height: 1;
  font-family: Georgia, Serif;
  color: #112;
}
a {
  border-bottom: solid 1px #036;
  color: #036;
  text-decoration: none;
}
a:hover {
  color: #c30;
  border: none;
}

h1 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 32px;
  font-weight: normal;
  line-height: 28px;
}
